bin
obj
*.suo
*.user
_ReSharper.*
*.DS_Store
*.userprefs
*.pidb
TestResult.xml
nugetkey
packages
target
StyleCop.Cache
Starter
*.vspx
*.TE.*
*.psess
*.dll
*.exe
*.snk
.nuget/NuGet.exe

Binaries/*